.content { 
    margin: 1rem 0 1rem 0;
}

.contact { 
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.contact li { 
    display: flex;
    flex-direction: row;
    gap: 0.5rem; 
    align-items: center;
}

.contact li i { 
    width: 25.5px;
}

.contact li img { 
    width: 25.5px;
}