@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.presentatons { 
    margin: 1rem;
}

.title_presentatons { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_presentatons h2 { 
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
}

.content_presentatons { 
    padding: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.presentaton { 
    width: 40%;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 5px 2.5px 2.5px rgb(0,0,0,0.25);
}

.presentaton h3 { 
    font-weight: 600;
}

.content_presentaton {  
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.langages_presentaton {  
    display: flex;
    flex-direction: row; 
    gap: 1rem;
    flex-wrap: wrap;
}

.langages_presentaton li { 
    padding: 0.5rem; 
    border: 2px solid black;
    border-radius: 30px;
    /*box-shadow: 5px 2.5px 2.5px rgb(0,0,0,0.25);*/

    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.content_presentaton a { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; 
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 740px) {
    .content_presentatons { 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 665px) { 
    .presentaton { 
        width: 60%;
    }
}

@media only screen and (max-width: 500px) { 
    .presentaton { 
        width: 100%;
    }
}
